{% load static %}
{% include 'header.html' %}


    <!-- Hero Section -->
    <section class="hero" id="home">
        <div class="hero-content">
            <div class="text-rotator">
                <div class="text-set active">
                    <h1 class="glitch-text" data-text="FUTURE IS NOW">Deep Fake Detection</h1>
                </div>
              
                
            </div>
        </div>
   
    </section>

    <!-- Features Section with Tabs -->
 

    <!-- About Section -->


    <!-- Contact Section -->

    <!-- Footer -->
   {% include 'footer.html' %}